body{margin: 0 auto;}
.header 
    {
    height:11vh;
    background-color: black; 
    font-family: 'Oregano', cursive;
    font-size: 50px;
    color: red;
    }

.midcol 
	{
	clear: both;
	height: 85vh;
	background-image:url("host.jpg");
	background-position: center center;
	height: 100%; width:auto; background-repeat: no-repeat
	}
.midcol a  
    {
    color:white;
    font-size:20px;
    text-decoration: none;
    }


a:hover
	{
	background-color: #e60000;
	}
 p  	
	{
	color: #2d00b3;
	font-family: 'Oswald';
    font-size: 20px;
	}

.midcol h2 
	{
	color: white;
    font-size: 20px;
    }
.midcol h1
    {
    color: white;
    font-size: 30px;
    }